<?xml version="1.0"
  encoding="utf-8" ?>

<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net 
             http://www.springframework.net/xsd/spring-objects.xsd"
         xmlns:db="http://www.springframework.net/database"
         xmlns:tx="http://www.springframework.net/tx">

  <!--Konfig des Testdaten-Objektes-->
  <object id="testData"
          type="ThesisManager.Core.Persistence.TestData, ThesisManager.Core">
    <property name="UserDbDao"
              ref="userDbDao" />
    <property name="UserLdapDao"
              ref="userLdapDao" />
  </object>
</objects>