<?xml version="1.0"
  encoding="utf-8" ?>

<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.net
             http://www.springframework.net/xsd/spring-objects.xsd">

  <object id="accountController"
          type="ThesisManager.Web.Controllers.AccountController, ThesisManager.Web"
          singleton="false"
          autowire="autodetect">
  </object>

  <object id="userController"
          type="ThesisManager.Web.Controllers.UserController, ThesisManager.Web"
          singleton="false"
          autowire="autodetect">
  </object>

  <object id="errorController"
          type="ThesisManager.Web.Controllers.ErrorController, ThesisManager.Web"
          singleton="false"
          autowire="autodetect">
  </object>
  
  <object id="applicationController"
          type="ThesisManager.Web.Controllers.ApplicationController, ThesisManager.Web"
          singleton="false"
          autowire="autodetect">
  </object>

</objects>