@model ThesisManager.Web.Models.Shared.ErrorViewModel


@{
    ViewBag.Title = Model.ErrorTitle;
    Layout = "_ModalLayout.cshtml";
}

@Html.DisplayFor(m => m.ErrorMessage)

@section Footer {
    <button type="button" class="btn btn-default" onclick="modal.hideModalDiv() ">
        OK
    </button>
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section PageId{
    Error_Overlay
}