@using ThesisManager.Web.Controllers
@if (TempData.ContainsKey(BaseController.MESSAGE_ALERT_KEY)) {
    <div class="alert alert-info fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true"></span>
            <span class="sr-only">Schließen</span>
        </button>
        @TempData[BaseController.MESSAGE_ALERT_KEY]
    </div>
}